# Global ignores
*.swp
*.tmp
*~

# Build output
build/
SDFiles/
BuildInfo.h
Global.gitignore.txt
.gitignore~

# VSCode settings
.vscode/

# Arduino / compile files
*.o
*.elf
*.bin
*.hex
*.map
*.d

compile_commands.json
build.options.json
.last-used

# OS junk
.DS_Store
Thumbs.db




